$black: #000000;
$borderColor:#ff4f5a;
$white: #ffffff;

@mixin main-font {
  font-family: 'Roboto', sans-serif;
}

@mixin secondary-font {
  font-family: "Poppins", sans-serif;
}

@mixin hero_bt($col1, $col2) {
  display: inline-block;
  padding: 10px 35px;
  background-color: $col1;
  border: 1px solid $col1;
  color: $col2;

  &:hover {
    background-color: transparent;
    color: $col1;
  }
}

@mixin upperBold {
  text-transform: uppercase;
  font-weight: bold;
}

body {
  @include main-font;
  color: #000000;
  background-color: #ffffff;
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.custom_heading-container {
  display: flex;
  justify-content: center;

  h3 {
    @include upperBold;
    color: $black;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -7px;
      left: 50%;
      width: 50px;
      height: 7px;
      transform: translateX(-50%);
      background-color: $borderColor;
      border-radius: 15px;
    }
  }
}

/*header section*/
.hero_area {}

.sub_page {
  .hero_area {
    height: auto;
  }
}

.hero_area.sub_pages {
  height: auto;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}
/*end header section*/

/* slider section */
.slider_section {

  .row {
    align-items: center;
  }

  .img-box {
    img {
      width: 100%;
    }
  }

  .detail-box {
    h1 {
      font-weight: bold;
      font-size: 4rem;
      color: #1a2e35;

      span {
        color: $borderColor;
      }
    }
  }



  .slider_nav-box {
    display: flex;
    justify-content: space-between;
    align-items: center;



    .custom_carousel-control {
      display: flex;
    }
  }


}
// about section
.about_section {
  text-align: center;

  .img-box {
    img {
      width: 350px;
    }
  }
}

// end about section

// service section
.service_section {
  text-align: center;
  position: relative;

  .custom_heading-container {
    margin-bottom: 15px;
  }

  .service_container {
    padding: 45px 0 75px 0;
  }

  .box {
    &.b-2 {
      .detail-box {
        width: 60%;
        text-align: right;
        overflow: hidden;

        p {
          height: 52px;
          overflow: hidden;
        }

        a {
          min-width: 100px;
        }
      }

    }

    &.b-3 {
      .detail-box {
        width: 70%;
        margin-left: auto;
        overflow: hidden;
        text-align: left;

        p {
          height: 52px;
          overflow: hidden;
        }

        a {
          min-width: 100px;
        }
      }

    }
  }

  .img-box {
    img {
      height: 200px;
    }
  }

  .detail-box {
    height: 118px;
    margin-top: 10px;

    h6 {
      font-weight: bold;
    }

    p {}
  }

  &::before {
    content: "";
    width: 200px;
    height: 175px;
    position: absolute;
    bottom: 95px;
    left: 50%;
    transform: translateX(-50%);
    background-size: cover;
    background-image: url(../images/worker.png);
  }
}

// end service section

// work section
.work_section {
  background-color: #ff4f5a;

  .custom_heading-container {
    h3 {
      color: $white;

      &::before {
        background-color: $white;
      }
    }
  }

  .work_container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 45px 0;

    .box {
      width: 275px;
      height: 275px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 35px 0 20px 0;
      background-color: $white;
      border-radius: 5px;
      margin: 45px 10px;
      box-shadow: 0 0 8px 0px rgba(0, 0, 0, .1);

      .img-box {
        width: 50px;

        img {
          width: 100%;
        }
      }

      .name {
        margin-top: 10px;
      }

      &.b-1,
      &.b-3 {
        animation: odd-box-animate 2s infinite;
      }

      &.b-2,
      &.b-4 {
        animation: even-box-animate 2s infinite;
      }

    }
  }

  @keyframes odd-box-animate {
    0% {
      transform: translateY(45px);
    }

    50% {
      transform: translateY(-45px);
    }

    100% {
      transform: translateY(45px);
    }
  }

  @keyframes even-box-animate {
    0% {
      transform: translateY(-45px);
    }

    50% {
      transform: translateY(45px);
    }

    100% {
      transform: translateY(-45px);
    }
  }

}
// end work section

/* footer section*/

.footer_section {
  background-color: $white;
  padding: 20px;
  @include secondary-font;
  font-weight: 500;
}

.footer_section p {
  color: #171717;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #171717;
}

/* end footer section*/