body {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}
.hero_area{
  background-color: #ff0000;
  padding: 60px 0;
}
.layout_padding {
  margin: 0;
  padding: 75px 0;
}
.layout_padding2 {
  padding: 45px 0;
}
.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.custom_heading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.custom_heading-container h3 {
  margin: 50px 0;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
  position: relative;
}

.custom_heading-container h3::before {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 50%;
  width: 50px;
  height: 7px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ff4f5a;
  border-radius: 15px;
}



/*header section*/
.sub_page .hero_area {
  height: auto;
}

.hero_area.sub_pages {
  height: auto;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

/*end header section*/
/* slider section */
.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .detail-box h1 {
  font-weight: bold;
  font-size: 4rem;
  color: #1a2e35;
}

.slider_section .detail-box h1 span {
  color: #ff4f5a;
}

.slider_section .slider_nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section {
  text-align: center;
}
.about_section .img-box img {
  width: 350px;
}
.col h3{
  padding: 30px 0;
}
.service_section {
  text-align: center;
  position: relative;
}

.service_section .custom_heading-container {
  margin-bottom: 15px;
}

.service_section .service_container {
  padding: 45px 0 75px 0;

}

.service_section .box.b-2 .detail-box {
  width: 60%;
  text-align: right;
  overflow: hidden;
}
.col{
  margin: 20px 0;
}
.service_section .container{
 background-color:#000000;
}
.service_section .box.b-2 .detail-box p {
  height: 52px;
  overflow: hidden;
}

.service_section .box.b-2 .detail-box a {
  min-width: 100px;
}

.service_section .box.b-3 .detail-box {
  width: 70%;
  margin-left: auto;
  overflow: hidden;
  text-align: left;
}

.service_section .box.b-3 .detail-box p {
  height: 52px;
  overflow: hidden;
}

.service_section .box.b-3 .detail-box a {
  min-width: 100px;
}

.service_section .img-box img {
  height: 200px;
}

.service_section .detail-box {
  height: 118px;
  margin-top: 10px;
  text-align: center;
}

.service_section .detail-box h6 {
  font-weight: bold;
}
.service_section::before {
  content: "";
  width: 200px;
  height: 175px;
  position: absolute;
  bottom: 95px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-size: cover;
}

li{
  text-decoration: none;
  list-style-type:none;
}
.info-nav1{
  background-color: #f77878;
  width: 50%;
  border-radius: 5px;
}

.work_section {
  background-color: #020202;
  text-align: start;
  color: #ffffff;
}

.work_section .custom_heading-container h3 {
  color: #ffffff;
}

.work_section .custom_heading-container h3::before {
  background-color: #ffffff;
}

.work_section .work_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 45px 0;
}

.work_section .work_container .box {
  width: 275px;
  height: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0 20px 0;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 45px 10px;
  -webkit-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.1);
}

.work_section .work_container .box .img-box {
  width: 150px;
}

.work_section .work_container .box .img-box img {
  width: 100%;
}

.work_section .work_container .box .name {
  margin-top: 10px;
}

.work_section .work_container .box.b-1, .work_section .work_container .box.b-3 {
  -webkit-animation: odd-box-animate 2s infinite;
          animation: odd-box-animate 2s infinite;
}

.work_section .work_container .box.b-2, .work_section .work_container .box.b-4 {
  -webkit-animation: even-box-animate 2s infinite;
          animation: even-box-animate 2s infinite;
}

@-webkit-keyframes odd-box-animate {
  0% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  50% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  100% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
}

@keyframes odd-box-animate {
  0% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  50% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  100% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
}

@-webkit-keyframes even-box-animate {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}

@keyframes even-box-animate {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}

/* footer section*/

.footer_section {
  background-color: #ff0000;
  padding: 20px 10px;
  font-family: 'Poppins', sans-serif;

}

.footer_section p {
  color: #fdfdfe;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #fdfdfe;
}



/* end footer section*/
/*# sourceMappingURL=style.css.map */